.overlay {
    position: absolute;
    padding-top: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000003D;
}

.container:hover .overlay {
    opacity: 1;
}

.container {
    position: relative;
}